*
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    // font-size: 62.5%;
}

body {    
    box-sizing: border-box;
    // font-size: 1.6rem;
    /* font-size: 16px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1rem;
    color: $color-grey-dark;
}
// 