.navbar {
  background-color: $color-primary-dark;
  margin-bottom: 2rem;

  nav {
    max-width: 1140px;
    margin: 0 auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;

      li {
        display: inline-block;
        background-color: $color-primary-dark;

        &:hover > ul {
          display: inherit;
        }
      }

      ul {
        display: none;
        position: absolute;
        top: 60px; /* the height of the main nav */

        li {
          width: 17rem;
          float: none;
          display: list-item;
          position: relative;
        }

        ul {
          li {
            position: relative;
            top: -60px;
            left: 170px;
          }
        }
      }
    }

    a {
      display: block;
      padding: 0 1rem;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      line-height: 3rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $color-primary-light;
        border-bottom: 2px solid $color-secondary-dark;
      }
      
      &.active {
        background-color: $color-primary-light;
        border-bottom: 2px solid $color-secondary-dark;
      }
    }

    li > a:after {
      content: ' +';
    }
    li > a:only-child:after {
      content: '';
    }
  }
}
